@charset "utf-8";
//@import "../public/variables";

html,body{
    height: 100%;
    background: darkorange;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.vaptcha{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -240px;
    margin-top: -240px;
    width: 450px;
    font-family: "微软雅黑";
    background: rgba(255,255,255,.14);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    .vaptcha-content{
        float: left;
        position: relative;
//      &.vaptcha-content-left{
//          width: 450px;
//          border-top-left-radius: 2px;
//          -moz-border-top-left-radius: 2px;
//          -webkit-border-top-left-radius: 2px;
//          border-bottom-left-radius: 2px;
//          -moz-border-bottom-left-radius: 2px;
//          -webkit-border-bottom-left-radius: 2px;
//      }
//      &.vaptcha-content-right{
//          width: 350px;
//          background: #272734;
//          border-top-right-radius: 2px;
//          -moz-border-top-right-radius: 2px;
//          -webkit-border-top-right-radius: 2px;
//          border-bottom-right-radius: 2px;
//          -moz-border-bottom-right-radius: 2px;
//          -webkit-border-bottom-right-radius: 2px;
//          position: absolute;
//          top: 10px;
//          right: 10px;
//          bottom: 10px;
//      }
        .logo{
            position: absolute;
            top: -80px;
            width: 450px;
            text-align: center;
        }
        .vaptcha-header{
            padding: 0 25px;
            height: 30px;
            line-height: 30px;
            margin-top: 20px;
            overflow: hidden;
            span{
                font-size: 20px;
                color: #040C18;
            }
            .fa{
                float: right;
                color: #646473;
                font-size: 16px;
                &.fa-mobile{
                    color: #FFFFFF;
                    font-size: 34px;
                    margin-top: -6px;
                }
                &.fa-envelope{
                    
                }
                &.active{
                    
                }
                &:hover{
                    
                }
            }
            //注册——Regist with Email
//          .regist{
//              float: right;
//              font-size: 12px;
//              color: #666;
//          }
            //注册——Reasons for your register
//          .reasons{
//              font-size: 14px;
//              color: #666;
//          }
//          .login-close{
//              float: right;
//              margin-top: 8px;
//              margin-right: -4px;
//              display: inline-block;
//              padding: 4px 4px;
//              width: 24px;
//              height: 24px;
//              background: url(../../img/login/close.fw.png) no-repeat;
//              background-origin: content-box;
//          }
        }
        .vaptchas-main{
            padding: 0 25px;
            #vaptchaPoz{
                #vaptchaNavDiv{
                    margin: 14px auto;
                }
            }
            .phonenumber,.regist-email,.username,.password,.verification-code{
                position: relative;
                .form-control{
                    height: 46px;
                    color: #444;
                    border: 1px solid #ddd;
                    margin-bottom: 14px;
                    &:focus{
                        border-color: #00BFFF;
                    }
                }
                &.error{
                    .form-control{
                        border-color: #d90000;
                    }
                }
                // 错误提示
                .error-tip{
                    position: absolute;
                    right: 10px;
                    top: 17px;
                    font-size: 12px;
                    color: #ff0000;
                }
            }
            .phonenumber{
                .form-control{
                    margin-top: 14px;
                    text-indent: 110px;
                }
                .area-code{
                    position: absolute;
                    width: 110px;
                    height: 44px;
                    left: 1px;
                    top: 1px;
                    border-right: 1px solid #ddd;
                    &.btn-group{
                        .btn{
                            padding: 6px 6px;
                            width: 74px;
                            height: 44px;
                            font-size: 12px;
                            background: #fdfdfd;
                            border: none;
                        }
                        .btn:nth-child(1){
                            border-right: none;
                        }
                        .btn:nth-child(2){
                            width: 34px;
                            border-right-color: #eee;
                            border-radius: 0;
                            -moz-border-radius: 0;
                            -webkit-border-radius: 0;
                        }
                        .dropdown-menu{
                            min-width: 110px;
                            width: 110px;
                        }
                    }
                }
            }
            //邮箱
            .regist-email{
                .form-control{
                    text-indent: 0;
                }
            }
            .verification-code{
                // position: relative;
                .form-control,.btn{
                    display: inline-block;
                }
                .form-control{
                    width: 233px;
                    border-top-right-radius: 0;
                    -moz-border-top-right-radius: 0;
                    -webkit-border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    -moz-border-bottom-right-radius: 0;
                    -webkit-border-bottom-right-radius: 0;
                }
                .btn{
                    position: absolute;
                    right: 0;
                    width: 168px;
                    height: 46px;
                    line-height: 34px;
                    font-size: 14px;
                    color: #fff;
                    background: #00BFFF;
//                  margin: 14px 0;
                    border-top-right-radius: 2px;
                    -moz-border-top-right-radius: 2px;
                    -webkit-border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                    -moz-border-bottom-right-radius: 2px;
                    -webkit-border-bottom-right-radius: 2px;
                    border-top-left-radius: 0;
                    -moz-border-top-left-radius: 0;
                    -webkit-border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    -moz-border-bottom-left-radius: 0;
                    -webkit-border-bottom-left-radius: 0;
                }
            }
            .password{
                /*密码强度*/
                .pw-strength {clear: both;position: relative;width: 400px;}
                .pw-bar{background: url(../../img/login/pwd-1.fw.png) no-repeat;height: 7px;overflow: hidden;width: 399px;}
                .pw-bar-on{background-image: url(../../img/login/pwd-11.fw.png);background-repeat: no-repeat;background-position: 0 0; width:0px; height:7px;position: absolute;top: 0px;             
                transition: width 1s ease-in;-moz-transition: width 1s ease-in;-webkit-transition: width 1s ease-in;-o-transition: width 1s ease-in;}
                .pw-weak .pw-defule{ width:0px;}
                .pw-weak .pw-bar-on {width: 132px;background-color: #EE3C40;}
                .pw-medium .pw-bar-on {width: 266px;background-color: #FF8D1C;}
                .pw-strong .pw-bar-on {width: 399px;background-color: #00D59F;}
                .pw-txt {padding-top: 2px;width: 400px;overflow: hidden;}
                .pw-txt span {
                    color: #bbb;float: left;font-size: 12px;text-align: left;width: 134px;
                    &:nth-child(3){
                        width: 132px;
                    }
                }
            }
            .rem-forg{
                line-height: 56px;
                font-size: 12px;
                color: #666;
                .remember{
                    user-select: none;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    .fa{
                        width: 16px;
                        font-size: 16px;
                        vertical-align: text-bottom;
                        &.fa-square-o{
                            color: #666;
                        }
                        &.fa-check-square-o{
                            color: #666;
                        }
                    }
                    .terms{
                        color: #999999;
                        text-decoration: underline;
                    }
                }
            }
            .btn-success{
                width: 100%;
                height: 46px;
                line-height: 34px;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                background: #888;
                font-size: 16px;
                font-weight: 300;
            }
        }
        .easy-safe{
            line-height: 32px;
            text-align: center;
            font-size: 24px;
            color: #4CD2FF;
        }
        .vaptcha-footer{
            width: 100%;
            height: 130px;
            hr{
                border: none;
                height: 1px;
                background-color: rgba(255,255,255,.05);
            }
            .register{
                margin-top: 10px;
                line-height: 30px;
                font-size: 14px;
                color: rgba(255,255,255,.5);
                text-align: center;
                font-weight: 300;
                a{
                    color: #12BFF9;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .other-register{
                font-size: 30px;
                line-height: 60px;
                text-align: center;
                .fa{
                    display: inline-block;
                    width: 50px;
                    color: rgba(255,255,255,.5);
                    &:hover{
                        color: rgba(255,255,255,.7);
                    }
                }
                .fa-qq{
                    font-size: 28px;
                }
            }
        }
    }
}
// 背景 canvas
#canvas-cont{
    background-color: #050D19;
}