@charset "utf-8";


.popup{
    //内容
    .popup-body{
        //选择电脑端 移动端
        .chose{
            width: 160px;
            margin: 12px auto;
            .device{
                display: inline-block;
                text-align: center;
                .fa{
                    display: block;
                    font-size: 50px;
                    color: #646473;
                }
                &.phone{
                    margin-left: 48px;
                }
                
            }
        }
        //表单
        .base-info{
            .info{
                h4{
                    font-size: 14px;
                    font-weight: 700;
                    color: #171D1F;
                    line-height: 36px;
                }
                .form-control{
                    
                }
                .progress-cont{
                    .progress_bar{
                        width: 90%;
                        height: 6px;
                        .bar{
                            height: 6px;
                            background-color: #00D9A3;
                        }
                    }
                    .pecent{
                        display: inline-block;
                        width: 9%;
                        text-align: right;
                        font-size: 14px;
                        color: #B9B9B9;
                    }
                }
            }
        }
        .btn{
            margin-top: 24px;
            height: 36px;
            -moz-border-radius: 1px;
            -webkit-border-radius: 1px;
            border-radius: 1px;
        }
    }
}











