@charset "utf-8";
.password {
    /*密码强度*/
    .pw-strength {
        clear: both;
        position: relative;
        width: 400px;
        & > div {
            position: absolute;
            & > div {
                width: 400px;
                & > div {
                    width: 60px;
                    height: 7px;
                    background: #DDDDDD;
                    float: left;
                    margin-right: 3px;
                }

            }

        }
        .pw_bottom {
            width: 123px;
            overflow: hidden;
            & > div {
                width: 400px;
                & > div {
                    background: #FF8D1C;
                }
            }
        }
    }
    .pw-weak .pw-defule{
        width:123px;
        
    }
//  .pw-bar {
//      background: url("../../img/login/pwd-1.fw.png") no-repeat;
//      height: 7px;
//      overflow: hidden;
//      width: 399px;
//  }
//  .pw-bar-on {
//      background-image: url("../../img/login/pwd-11.fw.png");
//      background-repeat: no-repeat;
//      background-position: 0 0;
//      width: 0;
//      height: 7px;
//      position: absolute;
//      top: 0;
//      transition: width 1s ease-in;
//      -moz-transition: width 1s ease-in;
//      -webkit-transition: width 1s ease-in;
//      -o-transition: width 1s ease-in;
//  }
//  .pw-weak .pw-defule {
//      width: 0;
//  }
//  .pw-weak .pw-bar-on {
//      width: 132px;
//      background-color: #EE3C40;
//  }
//  .pw-medium .pw-bar-on {
//      width: 266px;
//      background-color: #FF8D1C;
//  }
//  .pw-strong .pw-bar-on {
//      width: 399px;
//      background-color: #00D59F;
//  }
}
