@charset "utf-8";

.personal{
    margin-top: 50px;
    &>li{
        line-height: 52px;
    }
    .intro{
        display: inline-block;
        width: 130px;
        font-size: 16px;
        color: #666;
        text-align: right;
        float: left;
    }
    .cont{
        margin-left: 140px;
        width: 450px;
        font-size: 18px;
        color: #888;
        .cont-link{
            margin-left: 10px;
            font-size: 14px;
            color: #2692FF;
            transition: 212ms all linear;
            -moz-transition: 212ms all linear;
            -webkit-transition: 212ms all linear;
            &:hover{
                color: #00BFFF;
            }
        }
        //输入框组
        .validate-group{
            .form-control{
                width: 240px;
                display: inline-block;
                &:focus{
                    border-color: #00BFFF;
                }
                &:focus:active{
                    border-color: #00BFFF;
                }
            }
            .btn-success{
                width: 100px;
                height: 34px;
                padding: 6px 0;
                border-radius: 2px;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                background: #00BFFF;
                transition: 212ms background ease-in-out;
                &.btn[disabled]{
                    background: #ccc;
                    opacity: 1;
                }
            }
            .cancel{
                display: inline-block;
                width: 40px;
                line-height: 34px;
                text-align: center;
                i{
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background: url(../../img/cancel.fw.png) no-repeat;
                }
            }
        } 
        //ID
        &.id-num{
            font-size: 16px;
            color: #B9B9B9;
        }
        //关联
        &.attach-to{
            padding-top: 5px;
//          overflow: hidden;
            li{
                position: relative;
                display: inline-block;
                width: 42px;
                height: 42px;
                text-align: center;
                line-height: 42px;
                
                border-radius: 21px;
                -moz-border-radius: 21px;
                -webkit-border-radius: 21px;
                border-width: 1px;
                border-style: solid;
                border-color: transparent;
                transition: border-color 212ms ease-in-out;
                .fa{
                    line-height: 42px;
                    font-size: 24px;
                    color: #8B8E8F;
                    transition: color 212ms ease-in-out;
                    &.fa-times-circle{
                        position: absolute;
                        top: -4px;
                        right: -4px;
                        line-height: 16px;
                        font-size: 16px;
                        color: #171D1F;
                        background: #fff;
                        opacity: 0;
                        filter: alpha(opacity=0);
                        transition: opacity 212ms ease-in-out;
                    }
                }
                &:hover{
                    cursor: pointer;
                    border-color: #00BFFF;
                    .fa{
                        color: #00BFFF;
                        &.fa-times-circle{
                            color: #171D1F;
                            opacity: 1;
                            filter: alpha(opacity=100);
                        }
                    }
                }
            }
        }
        //email
        &.email{
            &.add-email{
                &>span{
                    font-size: 14px;
                    color: #D80000;
                    line-height: 20px;
                }
               
            }
            
        }
        //Phone
        &.phone-num{
            position: relative;
            .btn-group~.form-control{
                text-indent: 100px;
                width: 345px;
                color: #444;
                border: 1px solid #ddd;
                &:focus{
                    border-color: #00BFFF;
                }
            }
            &.error{
                .form-control{
                    border-color: #d90000;
                }
            }
            .area-code{
                position: absolute;
                width: 110px;
                height: 32px;
                left: 1px;
                top: 11px;
                &.btn-group{
                    .btn{
                        padding: 6px 6px;
                        width: 74px;
                        height: 32px;
                        font-size: 12px;
                        background: #fff;
                        border: none;
                    }
                    .btn:nth-child(1){
//                      border-right: none;
                    }
                    .btn:nth-child(2){
                        width: 34px;
                    }
                }
            }
        }
        //密码
        &.password{
            .validate-group{
                .form-control{
                    width: 345px;
                }
                .password-strength{
                    // margin-bottom: 20px;
                    /*密码强度*/
                    .pw-strength {clear: both;position: relative;width: 400px;}
                    .pw-bar{background: url(../../img/server/pwd-1.fw.png) no-repeat;height: 7px;overflow: hidden;width: 399px;}
                    .pw-bar-on{background:  url(../../img/server/pwd-11.fw.png) no-repeat; width:0px; height:7px;position: absolute;top: 0px;transition: width 1s ease-in;-moz-transition: width 1s ease-in;-webkit-transition: width 1s ease-in;-o-transition: width 1s ease-in;}
                    .pw-weak .pw-defule{ width:0px;}
                    .pw-weak .pw-bar-on {width: 113px;background-color: #EC3701;}
                    .pw-medium .pw-bar-on {width: 229px;background-color: #F78115;}
                    .pw-strong .pw-bar-on {width: 345px;background-color: #6BA001;}
                    .pw-txt {padding-top: 2px;width: 345px;overflow: hidden;}
                    .pw-txt span {
                        color: #707070;float: left;font-size: 12px;text-align: left;width: 115px;line-height: 20px; 
                        &:nth-child(3){
                            width: 113px;
                        }
                    }
                }
            }
        }
        //last login ip
        &.login-ip{
            span{
                font-size: 14px;
                color: #666;
                &.login-time{
                    margin-left: 30px;
                    color: #ccc;
                }
            }
        }
    }
}
.upgrade{
    position: absolute;
    right: 20px;
    top: 100px;
    width: 355px;
    height: 270px;
    padding: 10px;
    background: #fff;
    .title{
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        border-bottom: 1px solid #eee;
        span{
            float: left;
            font-size: 26px;
            color: #00BFFF;
        }
        .btn-success{
            float: right;
            background: #FF8000;
            margin-top: 9px;
            border-radius: 1px;
            -moz-border-radius: 1px;
            -webkit-border-radius: 1px;
            &:before{
                content: '\f1d8';
                font-family: 'FontAwesome';
                font-size: 14px;
                color: #fff;
            }
        }
    }
    .cont{
        margin-top: 10px;
        li{
            font-size: 14px;
            line-height: 32px;
            span{
                color: #aaa;
            }
            b{
                float: right;
                font-weight: normal;
                color: #666;
            }
        }
    }
}














