@charset "utf-8";


.popup{
    min-width: 640px;
    //内容
    .popup-body{
        overflow: hidden;
        .pc-left,.pc-right{
            float: left;
            width: 48%;
        }
        .pc-left{
            margin-right: 4%;
            .title{
                margin: 50px 0 20px 0 ;
                text-align: center;
                .fa{
                    font-size: 24px;
                    color: #646473;
                }
                &>span{
                    font-size: 20px;
                    color: #444;
                }
            }
        }
        .pc-right{
            margin-top: 20px;
            .title{
                line-height: 30px;
                i{
                    font-style: normal;
                    font-size: 16px;
                    color: #171D1F;
                }
                span{
                    font-size: 14px;
                    color: #666;
                    float: right;
                }
            }
            .all-block{
                margin-top: 10px;
                overflow: hidden;
                .left-block,.right-block{
                    float: left;
                    width: 46%;
                }
                .left-block{
                    margin-right: 8%;
                }
                .two-black{
                    padding-bottom: 10px;
                    overflow: hidden;
                    .cover,.origin{
                        float: left;
                        width: 48%;
                        height: 60px;
                        background: #fff;
                        border: 1px solid #eee;
                        font-size: 14px;
                        color: #ededed;
                        text-align: center;
                        line-height: 60px;
                    }
                    .cover{
                        margin-right: 4%;
                    }
                }
            }
            
        }
    }
}











