@charset "utf-8";
.header{
    .get{
        display:inline-block;
    }
}
.reward-main{
    position:absolute;
    left:50%;
    top:60px;
    margin-left: -598px;
    padding:130px 26px 0 40px;
    width:1196px;
    height:822px;
    z-index:999;
    &>img{
        float:left;
    }
    &>div{
        width:663px;
        padding-top:50px;
        height:auto;
        overflow:hidden;
        float:right;
        &>p{
            font-family: arial;
            font-weight: bold;
            font-size:70px;
        }
        &>p:nth-child(1){
            color:white;
        }
        &>p:nth-child(2){
            color:#12BFF9;
        }
        .reward-content{
            width:565px;
            height:auto;
            font-weight: normal;
            line-height:40px;
            font-family: "微软雅黑";
            font-size:18px;
            color:white;
        }
    }
}  
