@charset "utf-8";


.header{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #eee;
    padding: 0 20px;
    .logo{
    }
    .header-right{
        float: right;
        font-size: 16px;
        color: #999;
        .user-id{
            color: #57ABFF;
        }
        .fa{
            display: inline-block;
            font-size: 20px;
            margin-left: 26px;
            transition: color 212ms linear; 
            &:hover{
                color: #777;
            }
        }
    }
}
.leftpanel{
    .left-nav{
        width: 60px;
        height: 100%;
        background: rgb(32, 32, 47);
        overflow: hidden;
        position: fixed;
        .leftnav-cont{
            width: 80px;
            overflow-y: auto;
            overflow-x: hidden;
            position: absolute;
            top: 50px;
            bottom: 30px;
            ul{
                width: 60px;
                li{
                    a{
                        display: block;
                        margin: 22px 0px;
                        padding: 16px 10px;
                        text-align: center;
                        .fa{
                            width: 30px;
                            height: 30px;
                            font-size: 28px;
                            transition: color,background-image 212ms linear; 
                            &:hover{
                                color: #00BFFF;
                            }
                            &.fa-vaptcha{
                                background-repeat: no-repeat;
                                background-image: url(../../img/logo-grey.fw.png);
                                &:hover{
                                    background-image: url(../../img/logo-blue.fw.png);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.centerpanel{
    position: absolute;
    top: 50px;
    left: 60px;
    right: 0;
    bottom: 0;
    background: #fff; 
    overflow-x: hidden;
    overflow-y: auto;
    .main-panel{
       margin: 0 20px 0 20px;
       min-width: 1310px;
       background: #fff; 
//     height: 120%;
    }
}
