@charset "UTF-8";
html, body {
  height: 100%;
  font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu; }

* {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.vaptcha-reward {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .vaptcha-reward .header {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 99; }
    .vaptcha-reward .header > div {
      min-width: 600px;
      height: 60px;
      padding: 0 20px; }
    .vaptcha-reward .header .header-left {
      float: left;
      width: 145px;
      height: 50px;
      background: url(../img/index/logo.png) no-repeat;
      background-position: -14px -28px;
      cursor: pointer; }
    .vaptcha-reward .header .header-right {
      float: right;
      font-size: 14px; }
      .vaptcha-reward .header .header-right a {
        display: inline-block;
        height: 60px;
        line-height: 60px;
        color: #FFFFFF;
        padding: 0 10px;
        margin-left: 20px;
        transition: all 212ms ease-in-out;
        -webkit-transition: all 212ms ease-in-out;
        -moz-transition: all 212ms ease-in-out; }
        .vaptcha-reward .header .header-right a.active {
          color: #4DCFFB; }
        .vaptcha-reward .header .header-right a:hover {
          color: #4DCFFB;
          border-color: #4DCFFB; }
      .vaptcha-reward .header .header-right .get {
        display: inline-block;
        width: 140px;
        height: 34px;
        line-height: 30px;
        text-align: center;
        border: 1px #4DCFFB solid;
        border-radius: 16px;
        -moz-border-radius: 16px;
        -webkit-border-radius: 16px;
        background-color: transparent;
        color: #4DCFFB; }
        .vaptcha-reward .header .header-right .get:hover {
          cursor: pointer;
          text-decoration: none;
          color: #FFFFFF;
          background-color: #12C0FA;
          border-color: #12C0FA; }
  .vaptcha-reward #canvas-cont {
    position: fixed;
    overflow: hidden;
    background-color: #222B3A;
    z-index: 10; }
    .vaptcha-reward #canvas-cont canvas {
      background-color: #222B3A; }
  .vaptcha-reward .reward {
    z-index: 17;
    width: 1136px;
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -568px; }
    .vaptcha-reward .reward .crack {
      float: right;
      width: 680px; }
      .vaptcha-reward .reward .crack h1 {
        font-size: 70px;
        color: #FF7F00;
        font-weight: bold;
        line-height: 60px;
        margin-bottom: 28px; }
      .vaptcha-reward .reward .crack p {
        line-height: 27px;
        font-size: 18px;
        color: #FFFFFF; }
        .vaptcha-reward .reward .crack p b {
          margin-right: 5px;
          font-weight: normal;
          color: #FF8C1B; }
        .vaptcha-reward .reward .crack p em {
          display: inline-block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          background-color: #12C0FA;
          margin-right: 10px;
          margin-bottom: 3px; }
      .vaptcha-reward .reward .crack .ml40 {
        margin-left: 40px; }
      .vaptcha-reward .reward .crack .p5 {
        padding: 5px 0; }

/*# sourceMappingURL=reward.css.map */
