html, body {
  width: 100%;
  background: #F9F9F9; }

.vaptcha-sms {
  width: 100%; }
  .vaptcha-sms .le {
    display: inline-block;
    width: 500px;
    margin-right: 10px; }
    .vaptcha-sms .le .stock {
      padding: 10px;
      background: #fff; }
      .vaptcha-sms .le .stock .title {
        font-size: 16px;
        color: #202B39; }
        .vaptcha-sms .le .stock .title .r {
          float: right;
          margin-right: 20px;
          line-height: 36px;
          font-size: 12px;
          color: #aaa; }
          .vaptcha-sms .le .stock .title .r a {
            float: right;
            background: url(https://wpa.qq.com/pa?p=1:123691873:5);
            width: 61px;
            height: 15px;
            margin: 10px 0 0 8px; }
      .vaptcha-sms .le .stock .con {
        position: relative;
        margin: 15px 0 20px 0; }
        .vaptcha-sms .le .stock .con .count {
          display: inline-block;
          margin-left: 10%;
          width: 44%;
          text-align: center;
          color: #212B39; }
        .vaptcha-sms .le .stock .con .day {
          display: inline-block;
          width: 44%;
          text-align: center;
          color: #00D9A3; }
        .vaptcha-sms .le .stock .con h2 {
          font-size: 42px; }
        .vaptcha-sms .le .stock .con P {
          color: #CCCCCC;
          font-size: 14px; }
    .vaptcha-sms .le .pecharge {
      margin-top: 10px;
      padding: 10px;
      background: #fff; }
      .vaptcha-sms .le .pecharge .title {
        color: #202B39;
        font-size: 16px; }
      .vaptcha-sms .le .pecharge .progres {
        margin-top: 15px; }
        .vaptcha-sms .le .pecharge .progres span {
          font-size: 12px;
          color: #878787; }
        .vaptcha-sms .le .pecharge .progres .message {
          margin-top: 10px; }
          .vaptcha-sms .le .pecharge .progres .message .progres-bar {
            display: inline-block;
            width: 395px;
            height: 36px; }
          .vaptcha-sms .le .pecharge .progres .message input {
            width: 70px;
            height: 30px;
            padding: 5px;
            margin: 3px 0;
            vertical-align: top;
            outline: none;
            border: 1px solid #DDDDDD; }
            .vaptcha-sms .le .pecharge .progres .message input.form-control {
              display: inline-block;
              float: right; }
      .vaptcha-sms .le .pecharge .sum {
        margin-top: 15px;
        position: relative; }
        .vaptcha-sms .le .pecharge .sum span {
          color: #868686;
          font-size: 12px; }
        .vaptcha-sms .le .pecharge .sum .money {
          margin-top: 10px;
          color: #FF3F00;
          font-size: 16px; }
        .vaptcha-sms .le .pecharge .sum .save {
          position: absolute;
          right: 0;
          top: 26px;
          color: #666666; }
          .vaptcha-sms .le .pecharge .sum .save button {
            margin-left: 10px;
            color: #fff;
            border: none;
            border-radius: 1px;
            background: #CCCCCC; }
          .vaptcha-sms .le .pecharge .sum .save .active button {
            background: #FF8000;
            padding: 2px  12px; }
      .vaptcha-sms .le .pecharge .mode {
        margin-top: 15px; }
        .vaptcha-sms .le .pecharge .mode span {
          color: #868686;
          font-size: 12px;
          margin-right: 20px; }
        .vaptcha-sms .le .pecharge .mode .payment {
          margin: 10PX 0; }
          .vaptcha-sms .le .pecharge .mode .payment input {
            cursor: pointer;
            vertical-align: middle;
            margin-right: 6px; }
          .vaptcha-sms .le .pecharge .mode .payment img {
            width: 20px;
            margin-right: 5px; }
          .vaptcha-sms .le .pecharge .mode .payment .fa {
            font-size: 20px;
            margin-right: 5px; }
            .vaptcha-sms .le .pecharge .mode .payment .fa.fa-wechat {
              color: #01CD25; }
        .vaptcha-sms .le .pecharge .mode .agree {
          margin: 20px 0 20px 0; }
          .vaptcha-sms .le .pecharge .mode .agree button.btn.btn-success {
            background-color: #5AAF50; }
          .vaptcha-sms .le .pecharge .mode .agree .clause {
            display: inline-block;
            float: right;
            height: 32px;
            line-height: 32px;
            font-size: 12px;
            color: #777777; }
            .vaptcha-sms .le .pecharge .mode .agree .clause input {
              vertical-align: middle;
              margin-right: 6px;
              cursor: pointer; }
            .vaptcha-sms .le .pecharge .mode .agree .clause a {
              color: #0099FF; }
              .vaptcha-sms .le .pecharge .mode .agree .clause a:hover {
                text-decoration: underline; }
    .vaptcha-sms .le .record {
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      background: #fff; }
      .vaptcha-sms .le .record .title {
        color: #202B39;
        font-size: 16px; }
      .vaptcha-sms .le .record table {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 20px; }
        .vaptcha-sms .le .record table thead {
          background: #F9F9F9;
          border-bottom: 1px solid #ddd; }
          .vaptcha-sms .le .record table thead tr {
            height: 36px; }
            .vaptcha-sms .le .record table thead tr th {
              font-weight: normal;
              color: #888888;
              font-size: 12px; }
              .vaptcha-sms .le .record table thead tr th:first-child {
                padding-left: 10px; }
        .vaptcha-sms .le .record table tbody tr {
          border-bottom: 1px solid #fafafa; }
          .vaptcha-sms .le .record table tbody tr td {
            color: #FF7F00;
            font-size: 12px;
            line-height: 40px; }
            .vaptcha-sms .le .record table tbody tr td:first-child {
              padding-left: 10px; }
  .vaptcha-sms .rig {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 515px);
    padding: 10px;
    background: #fff; }
    .vaptcha-sms .rig h2 {
      color: #202B39;
      font-size: 16px; }
    .vaptcha-sms .rig .curve .line {
      width: 100%;
      height: 260px; }
    .vaptcha-sms .rig .log table {
      width: 100%;
      margin-top: 15px;
      margin-bottom: 20px; }
      .vaptcha-sms .rig .log table thead {
        background: #F9F9F9;
        border-bottom: 1px solid #ddd; }
        .vaptcha-sms .rig .log table thead tr {
          height: 36px; }
          .vaptcha-sms .rig .log table thead tr th {
            font-weight: normal;
            color: #777777;
            font-size: 12px; }
            .vaptcha-sms .rig .log table thead tr th:first-child {
              padding-left: 10px; }
      .vaptcha-sms .rig .log table tbody tr {
        border-bottom: 1px solid #fafafa; }
        .vaptcha-sms .rig .log table tbody tr td {
          padding: 10px 0;
          line-height: 20px;
          color: #878787;
          font-size: 12px; }
          .vaptcha-sms .rig .log table tbody tr td:first-child {
            padding-left: 10px; }
          .vaptcha-sms .rig .log table tbody tr td .fa {
            font-size: 16px; }
            .vaptcha-sms .rig .log table tbody tr td .fa.fa-check-circle {
              color: #00D8A3; }
            .vaptcha-sms .rig .log table tbody tr td .fa.fa-times-circle {
              color: #D90000; }
          .vaptcha-sms .rig .log table tbody tr td.international {
            color: #0085B2; }
    .vaptcha-sms .rig p {
      margin-top: 25px;
      margin-bottom: 20px;
      padding-left: 5px;
      color: #999999;
      font-size: 14px;
      border-left: 5px solid #12C0FA; }

.sms-pop {
  padding: 20px;
  width: 760px;
  height: 230px;
  background: #fff; }
  .sms-pop .title {
    font-size: 20px;
    color: #666666; }
    .sms-pop .title span {
      float: right; }
  .sms-pop .content {
    margin-top: 20px;
    padding-left: 20px;
    font-size: 12px;
    color: #777777; }
    .sms-pop .content ul li {
      list-style-type: disc;
      line-height: 22px;
      padding: 5px 0; }

/*# sourceMappingURL=sms.css.map */
