@charset "utf-8";
//
// Variables
// --------------------------------------------------
//
//--- Colors
//
$gray-base: #000;
$gray-20: #202020;
$gray-44: #444;
$gray-66: #666;
$gray-77: #777;
$gray-99: #999;
$gray-aa: #aaa;
$gray-bb: #bbb;
$gray-cc: #ccc;
$gray-dd: #ddd;
$gray-ee: #eee;
$gray-fa: #fafafa;
$gray-ff: #fff;
$bg-20: $gray-20;
$bg-44: $gray-44;
$bg-dd: $gray-dd;
$bg-cc: $gray-cc;
$bg-ee: $gray-ee;
$bg-fa: $gray-fa;
$bg-ff: $gray-ff;
$text-20: $gray-20;
$text-44: $gray-44;
$text-66: $gray-66;
$text-77: $gray-77;
$text-99: $gray-99;
$text-aa: $gray-aa;
$text-bb: $gray-bb;
$text-cc: $gray-cc;
$text-dd: $gray-dd;
$text-fa: $gray-fa;
$text-ff: $gray-ff;
//$border-dd: $gray-dd;
$border-fa: $gray-fa;
$border-44: $gray-44;
$border-ee: $gray-ee;
$disable-dd: $gray-dd;
$link-color: #00BFFF;
$link-hover-color: #da4f4a;
$theme-color-green: #00CB98;
//
//--- Typography
//
$font-family-sans-serif: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-family-serif: Georgia,
"Times New Roman",
Times,
serif;
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Courier New",
monospace;
$font-family-base: $font-family-sans-serif;
$font-family-sans-serif: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-family-serif: Georgia,
"Times New Roman",
Times,
serif;
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Courier New",
monospace;
$font-size-base: 14px;
$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-small: ceil(($font-size-base * 0.85)); // ~12px
$line-height-base: 1.428571429; // 20/14
$line-height-computed: floor(($font-size-base * $line-height-base)); // ~20px
$headings-font-family: inherit;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color: inherit;
//
//--- Components
//
$padding-s-base: 10px;
$padding-s-large: 14px;
$padding-s-small: 4px;
$margin-s-base: 10px;
$margin-s-large: 14px;
$margin-s-small: 4px;
$border-radius-base: 4px;
$border-radius-large: 6px;
$border-radius-small: 2px;
//** Global color for active items (e.g., navs or dropdowns).
$component-active-color: #fff;
//** Global background color for active items (e.g., navs or dropdowns).
//$component-active-bg:       $brand-primary;
//** Width of the `border` for generating carets that indicate dropdowns.
$caret-width-base: 4px;
//** Carets increase slightly in size for larger components.
$caret-width-large: 5px;
//
//== Lable
//
//
//---圆角
//
@mixin radius($borr:2px) {
    border-radius: $borr;
    -moz-border-radius: $borr;
    -webkit-border-radius: $borr;
}

//
//---透明度
//
@mixin opacity($opacity:1, $alpha:100) {
    opacity: $opacity;
    filter: alpha(opacity=$alpha);
}

//
//---内边距  在内/在外
//
@mixin boxsizing($box:border-box) {
    box-sizing: $box;
    -moz-box-sizing: $box;
    -webkit-box-sizing: $box;
}

//
//---内容 可选/不可选
//
@mixin userselect($userselect:none) {
    user-select: $userselect;
    -ms-user-select: $userselect;
    -moz-user-select: $userselect;
    -webkit-user-select: $userselect;
}