@charset "utf-8";
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", helvetica, 'lucida grande', 'lucida sans unicode', lucida, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
textarea,
p,
blockquote,
th,
td,
label {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none
}

label {
  font-weight: normal;
}

* ::-webkit-scrollbar {
  width: 6px;
  height: 10px
}

* ::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.09);
  border-radius: 3px
}

* ::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

* ::-webkit-scrollbar-thumb:hover {
  background-color: #AAAAAA
}

* ::-webkit-scrollbar-button {
  display: none
}
/* 公用样式 */
.p-15{
  padding: 15px;
}
.pl-20{
  padding-left: 20px;
}
.m-15{
  margin: 15px;
}
.mb-6{
  margin-bottom: 6px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-12{
  margin-bottom: 12px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-26{
  margin-bottom: 26px;
}
.mb-300{
  margin-bottom: 300px;
}
.mt-6{
  margin-top: 6px;
}
.mt-10{
  margin-top: 10px;
}
.mt-14{
  margin-top: 14px;
}
.mt-20{
  margin-top: 20px;
}
.mt-30{
  margin-top: 30px;
}
.ml-4{
  margin-left: 4px;
}
.ml-6{
  margin-left: 6px;
}
.ml-10{
  margin-left: 10px;
}
.ml-20{
  margin-left: 20px;
}
.ml-40{
  margin-left: 40px;
}
.mr-6{
  margin-right: 6px;
}
.mr-10{
  margin-right: 10px;
}
.mr-20{
  margin-right: 20px;
}
.mr-50{
  margin-right: 50px;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-38 {
  font-size: 38px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-grey {
  color: #aaa;
}
.text-b{
  color: #bbb;
}
.text-success,.green {
  color: #19dba7;
}
.blue{
  color: #2d8cf0;
}
.lightblue{
  color: #26c9ff;
}
.orange{
  color: #ff9326;
}
.yellow{
  color: #ffbf00;
}

.text-error {
  color: #fe5d5d;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
/* fa */
.fa-question-circle{
  cursor: pointer;
}
/* iview 样式重写 */
.ivu-notice-desc{
  word-break: break-all;
}
/* .ivu-tooltip-inner{
  white-space: normal!important;
} */

/* tip提示 */
/* pop-bg-color */
.ivu-modal-mask{
  background-color: rgba(0,0,0,.6)!important;
}

/* ? 提示 */
.ivu-icon-help-circled,.fa-question-circle{
  opacity: .8;
  filter: alpha(opacity = 80);
  transition: all 212ms linear;
}
.fa-question-circle:hover {
  opacity: 1;
  filter: alpha(opacity = 100);
}
.ivu-icon-help-circled:hover,.fa-question-circle:hover{
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity = 100);
}
/* bug 样式重置 */
.ivu-tabs-nav .ivu-tabs-tab {
  height: 37px;
  /* margin-right: 0px; */
  min-width: 120px;
  text-align: center;
}
.ivu-tabs-ink-bar{
  min-width: 120px;
}
table {
  font-size: 13px;
}

/* 内容滚动条 */
.ivu-layout-content{
  overflow-y: auto !important
}
/* 换行 */
.font-flow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 取消弹窗加粗效果 */
.ivu-modal-header-inner{
  /* font-weight: normal; */
}
/* card padding */
.ivu-card-head{
  padding: 14px 16px;
}
/*弹窗*/
.ivu-modal-header{
  border-bottom:1px solid transparent;
}
.ivu-modal-footer{
  border-top:1px solid transparent;
}
.ivu-modal-body{
  padding: 16px 0;
  margin:0 20px;
  border-top: 1px solid #F7F7F7;
  border-bottom: 1px solid #F7F7F7;
}
 /* .ivu-modal-header{
    padding: 14px 18px;
  }
 .ivu-modal-header{
   padding: 16px 18px;
  }
  .ivu-form-item{
    margin-bottom: 16px;
  } */
.ivu-tabs-nav-container{
  outline: none;
}
/* tab 字体大小 */
.ivu-tabs-nav{
  font-size: 16px !important;
}
/* ivu-tooltip-inner */
.ivu-tooltip-inner{
  max-width: 300px;
}

.ivu-table:before {
  height: 0;
}