<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/public/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../css/public/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/public/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/server/server.css"/>
		<link rel="stylesheet" type="text/css" href="../css/vaptcha.css"/>
		<link rel="stylesheet" type="text/css" href="../css/server/validate-vaptcha.css"/>
		<link rel="stylesheet" type="text/css" href="../css/server/demo.css"/>
	</head>
	<body>
		<div class="vaptcha-index">
			<header class="header">
				<!--<div class="header-left">
					<img src="../../assets/img/logo.png" />
					<span>APTCHA</span>
				</div>-->
				<img src="../../assets/img/logo.png" />
				<div class="header-right">
					<a class="earn">Earn $50,000</a>
					<a class="">Demo</a>
					<a (click)='redirctToLogin($event)' class="get">Get VAPTCHA</a>
				</div>
			</header>
			<div class="main-content demo">
				<aside class="fl">
					<div>
						<h1>
							<i class="fa fa-laptop"></i>PC
						</h1>
						<ul>
							<li class="active"><a href="">浮动式</a></li>
							<li><a href="">嵌入式</a></li>
							<li><a href="">弹出式</a></li>
						</ul>
					</div>
					<div>
						<h1>
							<i class="fa fa-mobile"></i>Moblie
						</h1>
						<ul>
							<li><a href="">弹出式</a></li>
						</ul>
					</div>
				</aside>
				
				<article>
				
					<div class="panel">
						<div class="login-content">
							<h1>登录</h1>
							<input type="text" class="form-control" placeholder="UserName"/>
							<input type="text" class="form-control" placeholder="UserName"/>
							<div  id="vaptchaPoz">
								<div id="vaptchaNavDiv">
									<div id="vaptcha" class="vaptcha">
								        <div class="vaptcha-main">
								            <img id="vaptchaImg" src="../../../../953f12e071d50d3ce0e915636972896a.png"/>
								            <div class="opt">
								                <div class="logo-main">
								                    <div class="vaptcha-logo"></div>
								                    <span>vaptcha</span>
								                </div>
								                <a class="reload">
								                    <i class="refresh"></i>
								                </a>
								                <div class="draw fail text-center">
								                	<img src="https://static.vaptcha.com/mouse.gif">
								                </div>
								            </div>
								        </div>
								    </div>
								</div>
							</div>
							<a class="btn btn-block btn-login">登录</a>
							<a class="btn btn-block btn-reset">重置 VAPTCHA</a>
						</div>
					</div>
					
					
					<div class="panel">
						<div class="login-content">
							<h1>登录</h1>
							<input type="text" class="form-control" placeholder="UserName"/>
							<input type="text" class="form-control" placeholder="UserName"/>
							
							<div class="box-vaptchar">
								<a class="btn btn-block btn-validate">
									<i class="fa fa-lock"></i>
									绘制手势，完成人机验证
									<i class="fa fa-info-circle fr"></i>
								</a>
								<div class="vaptcha-content">
									<div  id="vaptchaPoz">
										<div id="vaptchaNavDiv">
											<div id="vaptcha" class="vaptcha">
										        <div class="vaptcha-main">
										            <img id="vaptchaImg" src="../../../../953f12e071d50d3ce0e915636972896a.png"/>
										            <div class="opt">
										                <div class="logo-main">
										                    <div class="vaptcha-logo"></div>
										                    <span>vaptcha</span>
										                </div>
										                <a class="reload">
										                    <i class="refresh"></i>
										                </a>
										                <div class="draw fail text-center">
										                	<img src="https://static.vaptcha.com/mouse.gif">
										                </div>
										            </div>
										        </div>
										    </div>
										</div>
									</div>
								</div>
							</div>
							
							<a class="btn btn-block btn-login">登录</a>
							<a class="btn btn-block btn-reset">重置 VAPTCHA</a>
						</div>
							
					</div>
					
					
						
					
					<div class="panel">
						<div class="login-content">
							<h1>登录</h1>
							<input type="text" class="form-control" placeholder="UserName"/>
							<input type="text" class="form-control" placeholder="UserName"/>
							<a class="btn btn-block btn-login">登录</a>
							<a class="btn btn-block btn-reset">重置 VAPTCHA</a>
						
							<div class="popup-box-vaptchar">
								<h3>
									请先完成手势验证
									<a class="fa fa-close fr"></a>
								</h3>
								<div class="vaptcha-content">
									<div  id="vaptchaPoz">
										<div id="vaptchaNavDiv">
											<div id="vaptcha" class="vaptcha">
										        <div class="vaptcha-main">
										            <img id="vaptchaImg" src="../../../../953f12e071d50d3ce0e915636972896a.png"/>
										            <div class="opt">
										                <div class="logo-main">
										                    <div class="vaptcha-logo"></div>
										                    <span>vaptcha</span>
										                </div>
										                <a class="reload">
										                    <i class="refresh"></i>
										                </a>
										                <div class="draw fail text-center">
										                	<img src="https://static.vaptcha.com/mouse.gif">
										                </div>
										            </div>
										        </div>
										    </div>
										</div>
									</div>
								</div>
							</div>	
						</div>
					</div>
					
					
					<div class="panel phone">
						<div class="login-header text-center">
							<img src="../img/slider.fw.png" />
						</div>
						<div class="login-content">
							<h1>登录</h1>
							<input type="text" class="form-control" placeholder="UserName"/>
							<input type="text" class="form-control" placeholder="UserName"/>
							<a class="btn btn-block btn-login">登录</a>
						
							<div class="popup-box-vaptchar phone">
								<h3>
									请先完成手势验证
									<a class="fa fa-close fr"></a>
								</h3>
								<div class="vaptcha-content">
									<div  id="vaptchaPoz">
										<div id="vaptchaNavDiv">
											<div id="vaptcha" class="vaptcha">
										        <div class="vaptcha-main">
										            <img id="vaptchaImg" src="../../../../953f12e071d50d3ce0e915636972896a.png"/>
										            <div class="opt">
										                <div class="logo-main">
										                    <div class="vaptcha-logo"></div>
										                    <span>vaptcha</span>
										                </div>
										                <a class="reload">
										                    <i class="refresh"></i>
										                </a>
										                <div class="draw fail text-center">
										                	<img src="https://static.vaptcha.com/mouse.gif">
										                </div>
										            </div>
										        </div>
										    </div>
										</div>
									</div>
								</div>
								<div class="refresh">
									<img  src="../../../../assets/img/logo.png"/>
									<a class="fa fa-refresh fr"></a>
								</div>
							</div>	
						
						</div>
						<div class="login-footer"></div>
					</div>
					
					<i class="placeholder"></i>
				</article>
			</div>
		</div>
	</body>
</html>
