<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/public/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../css/public/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/public/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/server/preview.css"/>
		<script src="../js/jquery.min.js"></script>
	</head>
	<body>
		<div class="popup">
			<div class="popup-header">
				<span class="title">
					Preview
				</span>
				<a class="closed"></a>
			</div>
			<div class="popup-body">
				<div class="pc-left">
					<div class="title">
						<i class="fa fa-laptop"></i>
						<span>WITMES</span>
					</div>
					<img src="../img/gesture.fw.png"/>
				</div>
				<div class="pc-right">
					<div class="title">
						<i>Language:</i>
						<span>简体中文</span>
					</div>
					<div class="title">
						<i>Match Similarity:</i>
						<span>86%</span>
					</div>
					<div class="title">
						<i>BackgroundPicture:</i>
						<div class="all-block">
							<div class="left-block">
								<div class="two-black">
									<div class="cover">
										Cover
									</div>
									<div class="origin">
										Origin
									</div>
								</div>
								<div class="two-black">
									<div class="cover">
										Cover
									</div>
									<div class="origin">
										Origin
									</div>
								</div>
								<div class="two-black">
									<div class="cover">
										Cover
									</div>
									<div class="origin">
										Origin
									</div>
								</div>
							</div>
							<div class="right-block">
								<div class="two-black">
									<div class="cover">
										Cover
									</div>
									<div class="origin">
										Origin
									</div>
								</div>
								<div class="two-black">
									<div class="cover">
										Cover
									</div>
									<div class="origin">
										Origin
									</div>
								</div>
								<div class="two-black">
									<div class="cover">
										Cover
									</div>
									<div class="origin">
										Origin
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
