<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/public/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../css/public/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/public/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/server/addsite.css"/>
		<script src="../js/jquery.min.js"></script>
	</head>
	<body>
		<!--Add site-->
		<div class="popup">
			<div class="popup-header">
				<span class="title">
					Add site
				</span>
				<a class="closed"></a>
			</div>
			<div class="popup-body">
				<div class="chose">
					<div class="device computer">
						<i class="fa fa-laptop "></i>
						<input type="radio" name="" id="" value="" />
					</div>
					<div class="device phone">
						<i class="fa fa-mobile"></i>
						<input type="radio" name="" id="" value="" />
					</div>
				</div>
				<form>
					<div class="base-info">
						<div class="info">
							<h4>Label</h4>
							<input class="form-control" type="text" autocomplete="off" placeholder="" name="" id="" value="" />
						</div>
						<div class="info">
							<h4>Domain</h4>
							<input class="form-control" type="text" autocomplete="off" placeholder="can not edit again after register" name="" id="" value="" />
						</div>
						<div class="info">
							<h4>Language</h4>
							<input class="form-control" type="text" autocomplete="off" placeholder="Automated (recommend) " name="" id="" value="" />
						</div>
						<div class="info">
							<h4>Match Similarity</h4>
							<div class="progress-cont">
								<span class="progress_bar">
									<span class="bar"></span>
								</span>
								<span class="pecent">76%</span>
							</div>
							
						</div>
					</div>
				</form>
				<button class="btn btn-success" value="Register">Register</button>
			</div>
			<div class="popup-footer">
			</div>
		</div>
	</body>
</html>
