<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/public/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/public/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/public/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/server/server.css" />
		<link rel="stylesheet" type="text/css" href="../css/vaptcha.css" />
		<link rel="stylesheet" type="text/css" href="../css/server/validate-vaptcha.css" />
		<link rel="stylesheet" type="text/css" href="../css/server/demo.css" />
		<link rel="stylesheet" type="text/css" href="../css/server/reward.css" />

		<script src="../js/jquery.min.js"></script>
		<script src="../js/canvas-particle.js"></script>
		<script>
			window.onload = function() {
				var config = {
					vx: 4,
					vy: 4,
					height: 2,
					width: 2,
					count: 60,
					color: "34,79,151",
					stroke: "173,203,251",
					dist: 6000,
					e_dist: 20000,
					max_conn: 10
				}
				CanvasParticle(config);
			}
		</script>
	</head>

	<body>
		<div id="canvas-cont"></div>
		<div class="vaptcha-index">
			<header class="header">
				<img src="../../assets/img/logo.png" width="130px" height="50px" />
				<div class="header-right">
					<a class="earn">获取代码</a>
					<a class="">登陆</a>
					<a (click)='redirctToLogin($event)' class="get">免费注册</a>
				</div>
			</header>
			
		<div class="reward-main">
			<img src="../img/server/reward.fw.png"  />
			<div>
				<p>Crack VAPTCHA to </p>
				<p>earn $50,000</p>
				<p class="reward-content">Even we do believe VAPTCHA is the safest and easiest CAPTCHA in the world. U can help us to improve it ,still. If U can crack VAPTCHA and give us suggestions to upgrade,Let we know,please. We will award you $50,000,and you can get the opportunity to join VAPTCHA.</p>
			</div>
		</div>
		</div>
	</body>

</html>