<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/public/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../css/public/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/public/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/server/server.css"/>
		<script src="../js/jquery.min.js"></script>
	</head>
	<body>
		<div class="header">
			<img class="logo" src="../img/logo.fw.png" />
			<div class="header-right">
				<span>ID: </span>
				<span class="user-id" title="用户ID号">345321</span>
				<a class="fa fa-sign-out"></a>	
			</div>
		</div>
		<div class="leftpanel">
			<div class="left-nav">
				<div class="leftnav-cont">
					<ul>
		                <li>
		                    <a class=""><i class="fa fa-bar-chart "></i><div class="pretty"></div></a>
		                </li>
		                <li>
		                    <a class="" ><i class="fa fa-vaptcha"></i></a>
		                </li>
		                <li>
		                    <a class="" ><i class="fa fa-user"></i></a>
		                </li>
		                <li>
		                    <a class="" ><i class="fa fa-question-circle-o"></i></a>
		                </li>
                	</ul>
				</div>
			</div>
		</div>
		<div class="centerpanel">
			<div class="main-panel">
			</div>
		</div>
	</body>
</html>
