<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/public/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../css/public/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/public/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/server/server.css"/>
		<link rel="stylesheet" type="text/css" href="../css/server/vaptcha.css"/>
		<script src="../../js/jquery.min.js"></script>
		<script type="text/javascript">
			window.onload=function(){
				var toggle=document.getElementById('togglecheck');
				toggle.onclick=function(){
					if(toggle.className=='check checked'){
						toggle.className="check";
					}
					else{
						toggle.className="check checked";
					}
				}
			}
			
		</script>
	</head>
	<body>
		<div class="header">
			<img class="logo" src="../img/logo.fw.png" />
			<div class="header-right">
				<span>ID: </span>
				<span class="user-id" title="用户ID号">345321</span>
				<a class="fa fa-sign-out"></a>	
			</div>
		</div>
		<div class="leftpanel">
			<div class="left-nav">
				<div class="leftnav-cont">
					<ul>
		                <li>
		                    <a class=""><i class="fa fa-bar-chart "></i><div class="pretty"></div></a>
		                </li>
		                <li>
		                    <a class="" ><i class="fa fa-vaptcha"></i></a>
		                </li>
		                <li>
		                    <a class="" ><i class="fa fa-user"></i></a>
		                </li>
		                <li>
		                    <a class="" ><i class="fa fa-question-circle-o"></i></a>
		                </li>
                	</ul>
				</div>
			</div>
		</div>
		<div class="centerpanel">
			<div class="main-panel">
				<div class="main-top">
					<div class="search">
						<input class="form-control " autocomplete="off" placeholder="Site name" type="text" name="" id="" value="" />
						<a class="fa fa-times-circle btn-search"></a>
					</div>
					<button class="btn btn-success">&nbsp;&nbsp;Add Site</button>
				</div>
				<div class="main-cont">
					<div class="proj-simple">
						<div class="proj-top">
							<span class="proj-name">
								<i class="fa fa-laptop"></i>
								<span>WITMES</span>
								<a href="">htpp://www.sina.com</a>
							</span>
							<span class="proj-opt">
								<a class="fa fa-file-code-o"></a>
								<a class="fa fa-eye"></a>
								<a class="fa fa-trash-o"></a>
							</span>
						</div>
						<div class="proj-intro">
							<div class="public">
								<b>Public Key:</b><span>f1647a336c771ea04bfe5b8</span>
								<a class="fa fa-refresh"></a>
							</div>
							<div class="public">
								<b>Private Key:</b><span>f1647a336c771ea04bfe5b89</span>
								<a class="fa fa-refresh"></a>
							</div>   
							<div class="public">
								<b>Similarity:</b>
								<span class="progress_bar">
									<b class="bar"></b>
								</span>
								<span class="pecent">76%</span>
							</div>
							<div class="public">
								<b>Language:</b><span>Automated (recommend) </span>
							</div>
						</div>
						<div class="proj-cont">
							<div class="customize">
								<div class="title">
									<div class="toggle">
										<span class="check" id="togglecheck"></span>
										<span class="switch"></span>
										<span class="track"></span>
									</div>
									<span>Customize background picture</span>
									<a class="fa fa-question-circle-o"></a>
								</div>
								<div class="cont">
									<div class="cover-origin ">
										<div class="opt">
											<a class="fa fa-check-square-o"></a>
											<a class="fa fa-trash-o"></a>
										</div>
										<div class="two-black">
											<div class="cover">
												Cover
											</div>
											<div class="origin">
												Origin
											</div>
										</div>
									</div>
									<div class="cover-origin ">
										<div class="opt">
											<a class="fa fa-check-square-o"></a>
											<a class="fa fa-trash-o"></a>
										</div>
										<div class="two-black">
											<div class="cover">
												Cover
											</div>
											<div class="origin">
												Origin
											</div>
										</div>
									</div>
									<div class="cover-origin ">
										<div class="opt">
											<a class="fa fa-check-square-o"></a>
											<a class="fa fa-trash-o"></a>
										</div>
										<div class="two-black">
											<div class="cover">
												Cover
											</div>
											<div class="origin">
												Origin
											</div>
										</div>
									</div>
									<div class="cover-origin ">
										<div class="opt">
											<a class="fa fa-check-square-o"></a>
											<a class="fa fa-trash-o"></a>
										</div>
										<div class="two-black">
											<div class="cover">
												Cover
											</div>
											<div class="origin">
												Origin
											</div>
										</div>
									</div>
									<div class="cover-origin ">
										<div class="opt">
											<a class="fa fa-check-square-o"></a>
											<a class="fa fa-trash-o"></a>
										</div>
										<div class="two-black">
											<div class="cover">
												Cover
											</div>
											<div class="origin">
												Origin
											</div>
										</div>
									</div>
									<div class="cover-origin last-cover-origin">
										<div class="opt">
											<a class="fa fa-check-square-o"></a>
											<a class="fa fa-trash-o"></a>
										</div>
										<div class="two-black">
											<div class="cover">
												Cover
											</div>
											<div class="origin">
												Origin
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="statistics">
								<div class="title">
									<span>Statistics today</span>
								</div>
								<div class="cont">
									<div class="cloumn">
										<h4>34562</h4>
										<span>Total requests</span>
									</div>
									<div class="cloumn">
										<h4>34%</h4>
										<span>Passed rate</span>
									</div>
									<div class="cloumn last-block">
										<h4>345</h4>
										<span>peak/minute</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
