@charset "utf-8";

html,body{
    height: auto;
    font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}

*{
    margin: 0;
    padding: 0;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
}

@mixin border-radius($radius:2px){
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}
@mixin opacity($opacity:50){
    opacity: $opacity/100;
    filter: alpha(opacity = $opacity);
}
.vaptcha{
    width: 100%;
    height: 100%;
    .header {
        position: fixed; 
        width: 100%;
        height: 60px;
        z-index: 99;
        background: #222B3A;
        &>div{
            min-width: 600px;
            height: 60px;
            padding: 0 20px;
        }
        .header-left{
            float: left;
            width: 145px;
            height: 50px;
            background: url(../img/index/logo.png) no-repeat;
            background-position: -14px -28px;
            cursor: pointer;
        }
        .header-right {
            float: right;
            font-size: 14px;
            a {
                display: inline-block;
                height: 60px;
                line-height: 60px;
                color: #FFFFFF;
                padding: 0 10px;
                margin-left: 20px;
                transition: all 212ms ease-in-out;
                -webkit-transition: all 212ms ease-in-out;
                -moz-transition: all 212ms ease-in-out;
                &.active {
                    color: #4DCFFB;
                }
                &:hover {
                    color: #4DCFFB;
                    border-color: #4DCFFB;
                }
            }
            .get {
                display: inline-block;
                width: 140px;
                height: 34px;
                line-height: 30px;
                text-align: center;
                border: 1px #4DCFFB solid;
                border-radius: 16px;
                -moz-border-radius: 16px;
                -webkit-border-radius: 16px;
                background-color: transparent;
                color: #4DCFFB;
                &:hover {
                    cursor: pointer;
                    text-decoration: none;
                    color: #FFFFFF;
                    background-color: #12C0FA;
                    border-color: #12C0FA;
                }
            }
        }
    }
    //canvas
    #canvas-cont{
        height: 250px;
        position: absolute;
        overflow: hidden;
        background-color: #222B3A;
        z-index: 10;
        border-bottom: 10px solid #ffffff;
        canvas{
            background-color: #222B3A;
        }
        h1{
            font-size: 40px;
            color: #fff;
            font-weight: 500;
            letter-spacing: 2px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -26px;
            margin-left: -175px;
            z-index: 0;
            text-shadow: 1px 2px 4px rgba(121, 162, 185,.36);
        }
    }
    //documentation
    .main-cont{
        padding: 240px 30px 0 30px;
        overflow: hidden;
        .main-left-cont{
            position: absolute;
            top: 260px;
            left: 30px;
            bottom: 40px;
            right: 0;
            width: 300px;
            @include border-radius(10px);
            background-color: rgba(238,238,238,.4);
        }
        #menu{
            top: expression(100+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
            left:30px;
        }
        .main-left{
            position: absolute;
            top: 0px;
            left: 14px;
            bottom: 20px;
            right: 4px;
            list-style: none;
            overflow-x: hidden;
            overflow-y: auto;
            li{
                line-height: 32px;
                font-size: 14px;
                a{
                    display: inline-block;
                    color: #262633;
                }
                a.title{
                    display: block;
                    line-height: 36px;
                    color: #2693FF;
                    border-bottom: 1px solid #EEEEEE;
                    margin: 6px 0;
                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
                a:not(.title){
                    line-height: 24px;
                    text-align: center;
                    @include border-radius(14px);
                    margin-left: 30px;
                    padding: 0 20px;
                }
                a.current{
                    color: #FFFFFF;
                    background-color: #3C8AFF;
                }
            }
            
        }
        .main-right{
            min-height: 750px;
            margin-left: 335px;
            padding-bottom: 40px;
            padding-top:20px;
            .article{
                h3{
                    line-height: 46px;
                    font-size: 20px;
                    color: #2693FF;
                    font-weight: 500;
                }
                h3,h4{
                    z-index: -1;
                }
                h3:before,h4:before{
                    content: '';
                    display: block;
                    margin-top: -70px;
                    height: 70px;
                    visibility: hidden;
                }
                h4{
                    position:relative;
                    margin-top:10px;
                    line-height: 40px;
                    font-size: 16px;
                    color: #202020;
                    font-weight: 500;
                    padding-left: 10px;
                    &:after{
                        position: absolute;
                        bottom: 13px;
                        left: 0;
                        content: '';
                        display: inline-block;
                        width: 3px;
                        height: 14px;
                        background-color: #3C8AFF;
                    }
                }
                .cont{
                    padding-left: 10px;
                    line-height: 24px;
                    font-size: 14px;
                    color: #545454;
                }
                .button-group{
                    margin-bottom: 20px;
                    margin-top: 12px;
                    margin-left:12px;
                    .btn{
                        line-height: 34px;
                        font-size: 12px;
                        @include border-radius(1px);
                        @include opacity(90);
                        padding: 0 28px;
                        margin-right: 10px;
                        background-color: #2692FF;
                        position: relative;
                        .fa{
                            font-size: 20px;
                            color: #FFFFFF;
                            position: absolute;
                            left: 28px;
                            top: 7px;
                        }
                        &:hover{
                            cursor: pointer;
                            @include opacity(100);
                        }
                    }
                    &:nth-child(2){
                        font-size: 14px;
                    }
                }
                .downtime{
                    overflow: hidden;
                    .validate-flow,.validate-code{
                        float: left;
                        &>.title{
                            line-height: 50px;
                            padding-top:15px;
                            font-size: 18px;
                            color: #444;
                        }
                    }
                    .validate-flow{
                        margin-left:12px;
                        margin-right: 50px;
                        &>.cont-bg{
                            margin-top:3px;
                            margin-bottom:10px;
                            width: 860px;
                            height:500px;
                            background: url(http://static.vaptcha.com/assets/img/flowchart.png) no-repeat;
                            position: relative;
                        }
                    }
                    .validate-code{
                        &>.cont-bg{
                            width: 394px;
                            height: 184px;
                            margin-bottom:34px;
                            background: url(../img/validate-code.png) no-repeat;
                        }
                        ul{
                            padding-left:15px;
                            width:484px;
                            font-family:"宋体";
                            font-size:12px;
                            color:#888888;
                            list-style-type: square;
                            li{
                                margin-bottom:8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 999;
    perspective: 600px;
    perspective-origin: 50% 50%;
    .mask-video {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -356px;
        margin-top: -200px;
        width: 712px;
        height: 400px;
        background: white;
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        transform: rotateY(0deg);
        animation: show 0.5s ease-in-out;
        -moz-animation: show 0.5s ease-in-out;
        -webkit-animation: show 0.5s ease-in-out;
        transition: left 1s ease-in-out;
        -moz-transition: left 1s ease-in-out;
        -webkit-transition: left 1s ease-in-out;
        #mask-close {
            position: absolute;
            top: -11px;
            right: -11px;
            width: 22px;
            height: 22px;
            text-align:center;
            line-height:22px;
            border-radius:50%;
            -moz-border-radius:50%;
            -webkit-border-radius:50%;
            background: black;
            &>i{
                display: inline-block;
                width: 10px;
                height: 10px;
                background: url(../img/index/index.png) no-repeat;
                background-position: 0 -309px;
                @include opacity(80);
                transition: opacity 212ms ease-in-out;
                -moz-transition: opacity 212ms ease-in-out;
                -webkit-transition: opacity 212ms ease-in-out;
            }
            &:hover{
                cursor: pointer;
                i{
                    @include opacity(100);
                }
            }
        }
    }
    @keyframes show {
        from {
            transform: rotateY(-45deg);
        }
        to {
            transform: rotateY(0deg);
        }
    }
    @keyframes hide {
        from {
            transform: rotateX(0deg);
        }
        to {
            transform: rotateX(90deg);
        }
    }
}
