@charset "utf-8";

html,body{
    height: 100%;
    font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
}

.vaptcha-index{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    .header{
        position: fixed;
        width: 100%;
        height: 60px;
        background: #212B39;
        z-index: 99;
        border-bottom: 1px solid rgba(255,255,255,.15);
        img{
            margin: 8px 0 0 20px;
        }
        .header-right{
            float: right;
            margin-right: 20px;
            font-family: sans-serif;
            font-size: 16px;
            a{
                display: inline-block;
                height: 60px;
                line-height: 60px;
                color: #FFFFFF;
                padding: 0px 10px;
                margin-left: 20px;
                transition: color,background-color,border-color 212ms ease-in-out;
                -webkit-transition: color,background-color,border-color 212ms ease-in-out;
                -moz-transition: color,background-color,border-color 212ms ease-in-out;
                &.active{
                    color: #4DCFFB;
                    border-bottom: 2px solid #4DCFFB;
                }
                &:hover{
                    color: #4DCFFB;
                    border-color: #4DCFFB;
                }
            }
            .get{
                display: inline-block;
                width: 140px;
                height: 34px;
                line-height: 30px;
                text-align: center;
                border: 1px #4DCFFB solid;
                border-radius: 16px;
                -moz-border-radius: 16px;
                -webkit-border-radius: 16px;
                background-color: transparent;
                color: #4DCFFB;
                &:hover{
                    cursor: pointer;
                    text-decoration: none;
                    color: #FFFFFF;
                    background-color: #12C0FA;
                    border-color: #12C0FA;
                }
            }
        }
    }
    .vaptcha-content{
        margin-top: 60px;
        overflow-x: hidden;
        overflow-y: auto;
        //页面轮播图片
        .banner{
            height: 757px;
            .vaptcha-main{
                position: relative;
                width: 1134px;
                height: 100%;
                margin: 0 auto;
                .banner-01{
                    position: absolute;
                    left: -160px;
                    top: 40px;
                }
                #ban-vaptcha {
                    position: relative;
                    height: 757px;
                }
                
                #ban-vaptcha h2 {
                    font-size: 48px;
                    font-family: Open Sans, arial, sans-serif;
                    color: #3B8AFF;
                    font-weight: 500;
                    line-height: 80px
                }
                
                #ban-vaptcha p {
                    position: relative;
                    font-size: 18px;
                    color: #666666;
                    line-height: 20px;
                    text-indent: 20px;
                    margin: 15px 0;
                }
                #ban-vaptcha p:before{
                    position: absolute;
                    left: 0;
                    top: 7px;
                    display: inline-block;
                    content: '';
                    width: 6px;
                    height: 6px;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    background-color: #212B39;
                }
                
                
                #ban-vaptcha-nav {
                    position: absolute;
                    bottom: 80px;
                    width: 100%;
                    text-align: center;
                    z-index: 3
                }
                
                .ban-vaptcha-nav-item {
                    margin: 0 8px;
                    width: 8px;
                    height: 8px;
                    background-color: #DDDDDD;
                    border: none;
                    outline: none;
                    opacity: .5;
                    font-size: 0;
                    padding: 0;
                    cursor: pointer;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    -moz-transition: all .15s ease-in-out;
                    -ms-transition: all .15s ease-in-out;
                    -o-transition: all .15s ease-in-out;
                    -webkit-transition: all .15s ease-in-out;
                    transition: all .15s ease-in-out;
                }
                
                .ban-vaptcha-nav-item-current,
                .ban-vaptcha-nav-item:hover {
                    opacity: 1;
                }
                .ban-vaptcha-nav-item-current{
                    width: 20px;
                    background-color: #3C8AFF;
                    -moz-border-radius: 4px;
                    -webkit-border-radius: 4px;
                    border-radius: 4px;
                }
                
                .ban-vaptcha-cont {
                    position: absolute;
                    width: 360px;
                    top: 150px;
                }
                
                .ban-vaptcha-img01,
                .ban-vaptcha-iphone-share,
                .ban-vaptcha-img02 {
                    position: absolute;
                    z-index: 0
                }
                .ban-vaptcha-img01{
                    top: -50px;
                }
                .ban-vaptcha-img02{
                    top: 20px;
                }
                .ban-vaptcha-img01 {
                    left: 0;
                }
                
                .ban-vaptcha-iphone-share {
                    left: 550px
                }
                
                .ban-vaptcha-img02 {
                    left: 0;
                }
                
                #ban-vaptcha-links {
                    position: absolute;
                    bottom: 50px
                }
                
                #ban-vaptcha-links div.ban-uix-overlay {
                    display: inline-block
                }
                
                #ban-vaptcha-overlay-target {
                    cursor: pointer;
                    font-size: 16px
                }
                
                #ban-vaptcha-promo-video {
                    width: 640px;
                    height: 360px;
                    margin-top: 20px
                }
                
                #ban-vaptcha-promo-overlay-close {
                    text-align: right;
                    margin-top: 4px;
                    margin-bottom: -10px
                }
                
                #ban-vaptcha-promo-overlay-close .ban-uix-overlay-close:hover,
                #ban-vaptcha-promo-overlay-close .ban-uix-overlay-close:focus {
                    background-color: transparent
                }
                
                .ban-vaptcha-cont h2,
                .ban-vaptcha-cont p ,
                .ban-vaptcha-cont .btn,
                .ban-vaptcha-cont .whata{
                    position: relative;
                    left: 815px;
                }
                
                .ban-vaptcha-cont .btn{
                    width: 208px;
                    height: 60px;
                    font-size: 20px;
                    background-color: #3C8AFF;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    margin: 30px 0;
                }
                .ban-vaptcha-cont .whata span{
                    position: relative;
                    display: inline-block;
                    width: 21px;
                    height: 21px;
                    border: 1px solid #3C8AFF;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    vertical-align: bottom;
                }
                .ban-vaptcha-cont .whata span:before{
                    position: absolute;
                    left: 7px;
                    top: 4px;
                    display: inline-block;
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 7px solid #3C8AFF;
                }
                
                .ban-vaptcha-cont .whata a{
                    margin-left: 8px;
                    font-size: 16px;
                    color: #3B8AFF;
                }
                
                .ban-vaptcha-img01 {
                    margin-left: 0px
                }
                
                .ban-vaptcha-cont-current .ban-vaptcha-img01 {
                    margin-left: 52px
                }
                
                .ban-vaptcha-img02 {
                    margin-left: -30px
                }
                
                .ban-vaptcha-cont-current .ban-vaptcha-img02 {
                    margin-left: 0
                }
                
                .ban-vaptcha-cont h2,
                .ban-vaptcha-cont p,
                .ban-vaptcha-cont-img {
                    -moz-transition: all .55s ease-in-out;
                    -ms-transition: all .55s ease-in-out;
                    -o-transition: all .55s ease-in-out;
                    -webkit-transition: all .55s ease-in-out;
                    transition: all .55s ease-in-out
                }
                
                .ban-vaptcha-cont-current {
                    z-index: 3
                }
                
                .ban-vaptcha-cont-current h2,
                .ban-vaptcha-cont-current p ,
                .ban-vaptcha-cont .btn,
                .ban-vaptcha-cont .whata{
                    /*left: 0*/
                    left: 800px
                }
                
                .ban-vaptcha-cont h2,
                .ban-vaptcha-cont p,
                .ban-vaptcha-cont-img,
                .ban-vaptcha-cont .btn,
                .ban-vaptcha-cont .whata {
                    opacity: 0;
                    *display: none
                }
                
                .ie8 .ban-vaptcha-cont h2,
                .ie8 .ban-vaptcha-cont p,
                .ie8 .ban-vaptcha-cont-img,
                .ban-vaptcha-cont .btn,
                .ban-vaptcha-cont .whata  {
                    display: none
                }
                
                .ban-vaptcha-cont-current h2,
                .ban-vaptcha-cont-current p,
                .ban-vaptcha-cont-current img,
                .ban-vaptcha-cont .btn,
                .ban-vaptcha-cont .whata  {
                    opacity: 1;
                    *display: block
                }
                
                .ie8 .ban-vaptcha-cont-current h2,
                .ie8 .ban-vaptcha-cont-current p,
                .ie8 .ban-vaptcha-cont-current-img,
                .ban-vaptcha-cont .btn,
                .ban-vaptcha-cont .whata  {
                    display: block
                }
            }
        }   
        .what{
            height: 560px;
            background-color: #212B39;
            .what-cont{
                width: 1134px;
                margin: 0 auto;
                padding-top: 122px;
                overflow: hidden;
                .video{
                    float: left;
                    width: 515px;
                    height: 315px;
                    background-color: #ffffff;
                    background: url(../img/index/what.png) no-repeat;
                }
                .question{
                    float: right;
                    width: 525px;
                    color: #FFFFFF;
                    h1{
                        font-size: 46px;
                        font-weight: 500;
                    }
                    .answer{
                        margin-top: 16px;
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 300;
                    }
                    .btn-success{
                        width: 208px;
                        height: 60px;
                        font-size: 20px;
                        background-color: #3C8AFF;
                        margin-top: 22px;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                    }
                }
            }
        }    
        .advantage,.comparision{
            h3{
                font-size: 64px;
                color: #3B8AFF;
                font-weight: 500;
                text-align: center;
                line-height: 280px;
                margin-top: 40px;
            }
        }
        //advantage
        .advantage{
            .advantage-cont{
                position: relative;
                width: 1134px;
                margin: 0 auto;
                .advimg-left,.advimg-right{
                    position: absolute;
                    z-index: -10;
                }
                .advimg-left{
                    top: -150px;
                    left: -160px;
                }
                .advimg-right{
                    top: -120px;
                    right: -235px;
                }
                &>.easy,.safety,.free{
                    float: left;
                    width: 340px;
                    height: 425px;
                    background-color: #FFFFFF;
                    padding-top: 60px;
                    border: 1px solid #FAFAFA;
                    text-align: center; 
                    &.safety{
                        margin: 0 57px;
                    }
                    &>.img{
                        margin: 0 auto;
                        display: block;
                        width: 70px;
                        height: 76px;
                        background: url(../img/index/advantage-03.png) no-repeat;
                    }
                    &.easy .img{
                        background-position: 0 0;
                    }
                    &.safety .img{
                        background-position: 0 -83px;
                    }
                    &.free .img{
                        background-position: 0 -163px;
                    }
                    h5{
                        font-family: sans-serif;
                        font-size: 45px;
                        color: #777;
                        line-height: 90px;
                        font-weight: 400;
                    }
                    &>div{
                        font-size: 16px;
                        color: #999;
                        line-height: 36px;
                    }
                }
                
            }
        }        
        //comparision
        .comparision{
            .comparision-cont{
                width: 1134px;
                margin: 0 auto;
                .time{
                    float: left;
                    .chart{
                        .captcha{
                            .bar{
                                height: 256px;
                            }
                        }
                        .vaptcha{
                            .bar{
                                height: 20px;
                            }
                        }
                    }
                }
                .level{
                    float: right;
                    .chart{
                        .captcha{
                            .bar{
                                height: 60px;
                            }
                        }
                        .vaptcha{
                            .bar{
                                height: 256px;
                            }
                        }
                    }
                }
                .time,.level{
                    width: 433px;
                    h5{
                        font-size: 24px;
                        color: #535353;
                        font-weight: 500;
                        span{
                            font-size: 14px;
                        }
                    }
                    .chart{
                        position: relative;
                        .line{
                            z-index: -8;
                            hr{
                                border: none;
                                width: 433px;
                                height: 1px;
                                background-color: #EEEEEE;
                                margin-top: 50px;
                            }
                            hr:nth-child(1){
                                margin-top: 35px;
                            }
                        }
                        .captcha,.vaptcha{
                            width: 100px;
                            text-align: center;
                            position: absolute;
                            bottom: -38px;
                            .bar{
                                margin-left: 20px;
                                display: block;
                                width: 60px;
                            }
                            .word{
                                font-size: 16px;
                                line-height: 38px;
                                color: #444444;
                            }
                        }
                        .captcha{
                            left: 110px;
                            .bar{
                                background-color: #EE3C40;
                            }
                        }
                        .vaptcha{
                            left: 270px;
                            .bar{
                                background-color: #3C8AFF;
                            }
                        }
                    }
                }
            }
        }  
        .footer{
            margin-top: 120px;
            height: 120px;
            background-color: #212B39;
        }
    }
}
